.footer {
    color: var(--general-bg);
    background: #AB8261;
    padding: 60px 0 66px;
}

.footer__inner {
    display: grid;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    gap: 40px 30px;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.socials__list {
    display: flex;
    gap: 15px;
    max-height: 36px;
    line-height: 0;
}

.socials__link path {
    transition: var(--transition);
}

@media (hover: hover) {
    .socials__link:hover path {
        fill: var(--accent-color);
    }
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0px;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    visibility: none;
    transition: all 0.4s;
}

@media (hover: hover) {
    .footer__col-link:hover::before {
        opacity: 1;
        visibility: visible;
    }
}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0px;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    text-transform: uppercase;
    transition: var(--transition);
}

@media (hover: hover) {
    .footer__col-number:hover {
        color: var(--accent-color);
    }
}

.footer__col-copy {
    color: #DEC5B1;
}