:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --input-color: #AC907A;
    --accent-color-2: #CEAAD0;
    --border-radius: 20px;
    --transition: all .4s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__program, .main__gallery, .main__testimonials {
    padding-bottom: 145px;
}

.container {
    max-width: 1310px;
    /* width + 30px */
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    color: var(--accent-text);
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    border-radius: 60px;
    background: var(--accent-color);
    padding: 3px 15px;
    /* чтобы текст не прилипал */
    height: 62px;
    transition: background 0.4s;
}

@media (hover: hover) {
    .button:hover {
        background: #FF9138;
    }
}

.modal {
    position: fixed;
    inset: 0;
    padding: 15px;
    background: #00000071;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal .button {
    width: 100%;
}

.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition);
}

@media (hover: hover) {
    .modal__cancel:hover path,
    .modal__cancel:hover rect {
        stroke: var(--input-color);
    }
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    color: var(--accent-text);
    font-family: Gabriola;
    font-size: 42px;
    line-height: 0.9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    display: block;
    position: relative;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: var(--input-color);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

.field__input {
    transition: var(--transition);
    display: block;
    width: 100%;
    border-radius: 100px;
    background: transparent;
    border: 1px solid var(--input-color);
    padding: 19px 42px 19px 28px;
}

@media (hover: hover) {
    .field__input:hover {
        border-color: var(--accent-color);
    }
}

.field__input::placeholder {
    transition: var(--transition);
    color: var(--input-color);
    font-size: 16px;
}

@media (hover: hover) {
    .field__input:hover::placeholder {
        color: var(--accent-color);
    }
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    visibility: visible;
    opacity: 1;
}