.header {
    background: url('../img/decor/bg-header.png') 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.header__hero {
    padding: 48px 0 140px;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}


.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(-45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(45deg);
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    visibility: none;
    transition: all 0.4s;
}

@media (hover: hover) {
    .nav__link:hover::before {
        opacity: 1;
        visibility: visible;
    }
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-end;
}

.hero__content {
    max-width: 519px;
}

.hero__info {
    color: #B197B2;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #B197B2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 40px;
    max-width: 358px;
}

.hero__button {
    max-width: 358px;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    background: #FFE0CB;
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.30);
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.30);
    border-radius: 50%;
    inset: 5px;
    opacity: 0;
    visibility: none;
    transition: all 0.4s;
}

@media (hover: hover) {
    .hero__img-button:hover::before {
        opacity: 1;
        visibility: visible;
    }
}