@media (max-width: 1250px) {
    .contact__inner::after {
        top: -20%;
    }
}


@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
    }

    .hero__img-control {
        position: static;
        max-width: 377px;
        margin-top: 30px;
    }

    /* ------------------------------------------------------ */

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    /* ------------------------------------------------------- */

    .footer__inner {
        justify-content: space-between;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1 / -1;
    }

    /* ------------------------------ */

    .accordion-list__control {
        font-size: 35px;
        padding: 25px 30px;
    }

    .accordion-content {
        gap: 30px;
    }

    /* ------------------------------ */

    .contact__inner {
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 900px) {

    html {
        scroll-padding-top: 25px;
    }
    
    .header__nav {
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .header__nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ----------------------------------------------------------- */

    .program__img {
        display: none;
    }

    .program__action {
        max-width: none;
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    }

    /* ----------------------------------------------------------- */

    .gallery__img {
        display: none;
    }

    .gallery__inner {
        grid-template: none;
    }

    .gallery__info {
        max-width: none;
    }

    /* ----------------------------------------------------------- */

    .testimonials__scrollbar.swiper-scrollbar.swiper-scrollbar-horizontal {
        width: 50%;
        margin: 0 auto;
    }

    /* ----------------------------------------------------------- */

    .contact__inner {
        justify-content: center;
        /* padding-top: 50px; */
    }

    .contact__img {
        display: none;
    }

    /* ----------------------------------------------------------- */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }
}

@media (max-width: 823px) {
    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }
}

@media (max-width: 800px) {
    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin-bottom: 30px;
    }

    .hero__inner {
        justify-content: center;
    }

    .hero__content {
        max-width: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .hero__img-control--mobile {
        margin-top: 0;
    }

    .hero__button {
        width: 100%;
    }

    /* ---------------------------------- */

    .tab-controls {
        gap: 10px;

    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    /* ---------------------------------- */

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }

    /* ---------------------------------- */

    .testimonials__inner {
        flex-direction: column;
        align-items: stretch;
    }

    .testimonials__nav {
        align-self: end;
    }

    /* ---------------------------------- */

    .contact__inner::before {
        display: none;
    }
}

@media (max-width: 600px) {
    .main__about {
        margin: 60px 0 80px;
    }

    .main__program, .main__gallery, .main__testimonials {
        padding-bottom: 80px;
    }

    .title {
        font-size: 12vw;
    }

    /* --------------------------- */

    .header__hero {
        padding-bottom: 80px;
    }

    /* -------------------------- */

    .about__grid {
        gap: 15px;
    }

    .grid__item {
        padding: 10px 15px;
    }

    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    /* ---------------------------- */

    .prgoram__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .program__action {
        grid-template: repeat(3, auto) / auto auto;
        gap: 15px;
    }

    .program__discount {
        justify-self: center;
        grid-row: auto;
        grid-column: 1 / -1;
    }

    .program__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
    }

    .accordion-list__control-title {
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }

    /* --------------------------------- */

    .gallery__content {
        flex-direction: column;
    }

    .gallery__inner {
        margin-bottom: 20px;
    }

    /* --------------------------------- */

    .testimonials__inner {
        margin-bottom: 20px;
    }

    .testimonials__slide {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* --------------------------------- */

    .contact {
        padding-bottom: 80px;
    }

    .contact__title,
    .contact__text {
        text-align: center;
    }
}

@media (max-width: 450px) {

    .program__action {
        grid-template: none;
    }

    .accordion-list__control {
        padding: 15px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }

    /* --------------------------------- */
    .modal__img {
        width: 50%;
        margin-top: -45px;
        margin-left: 25%;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__window {
        padding: 0 15px 45px;
    }

    /* ----------------------------------- */

    .testimonials__slide.swiper-slide {
        padding: 30px 10px;
    }
}