.main__about {
    margin: 140px 0;
}

.about__inner {
    display: grid;
    grid-template: repeat(2, auto) / 1fr 1.05fr;
    gap: 40px 53px;
}

.about__img {
    grid-row: 1 / -1;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-control {
    padding: 15px 20px;
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    text-align: left;
    border-radius: var(--border-radius);
    background: #957b97e6;
    color: var(--general-bg);
}

.about__img-button {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    background: var(--general-bg);
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.30);
}

.about__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color-2);
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.30);
    border-radius: 50%;
    inset: 5px;
    opacity: 0;
    visibility: none;
    transition: all 0.4s;
}

@media (hover: hover) {
    .about__img-button:hover::before {
        opacity: 1;
        visibility: visible;
    }
}

.about__heading {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.grid__item {
    background: var(--accent-bg);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: var(--border-radius);
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}