.contact {
    padding: 140px 0;
    background: url('../../img/decor/bg-contact.png') 50% 0% / cover no-repeat; /* верхняя часть изображения совмещается с верхом блока */
}

.contact__inner {
    display: flex;
    align-items: end;
    gap: 84px;
    position: relative;
}

.contact__inner::before {
    position: absolute;
    content: url('../../img/decor/berries.png');
    top: -4%;
    left: 0;
}

.contact__inner::after {
    position: absolute;
    content: url('../../img/decor/berries-2.png');
    top: 4%;
    right: 0;
}

.contact__img img {
    width: 100%;
    filter: drop-shadow(0px 4px 30px #c6b0a14d);
}

.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 40px;
}

.contact__label {
    margin-bottom: 10px;
}

.contact__input {
    transition: var(--transition);
    display: block;
    width: 100%;
    border-radius: 100px;
    background: transparent;
    border: 1px solid var(--input-color);
    padding: 19px 42px 19px 28px;
    margin-bottom: 20px;
}

@media (hover: hover) {
    .contact__input:hover, .contact__input:focus {
        border-color: var(--accent-color);
    }
}

.contact__input::placeholder {
    transition: var(--transition);
    color: var(--input-color);
    font-size: 16px;
}

@media (hover: hover) {
    .contact__input:hover::placeholder {
        color: var(--accent-color);
    }
}

.contact__check-label {
    display: flex;
    align-items: start;
    gap: 5px;
    max-width: 288px;
    font-size: 13px;
    margin-bottom: 20px;
}

.contact__check-label a {
    text-decoration: underline;
    transition: var(--transition);
}

@media (hover: hover) {
    .contact__check-label a:hover {
        color: var(--accent-color);
    }
}

.contact__checkbox {
    appearance: none;
    flex-shrink: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--input-color);
    border-radius: 4px;
    transition: var(--transition);
    position: relative;
}

.contact__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../../img/icons/check.svg') 50% 50% no-repeat;
    opacity: 0;
    transition: var(--transition);
}

@media (hover: hover) {
    .contact__checkbox:hover {
        border-color: var(--accent-color);
    }
}

.contact__checkbox:checked {
    background: var(--accent-color);
    border-color: var(--accent-color);
}

.contact__checkbox:checked::before {
    opacity: 1;
}

.contact__button {
    width: 100%;
}