.program__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.prgoram__title {
    margin-bottom: 20px;
}

.program__tab-content {
    margin-bottom: 40px;
}

.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    flex-shrink: 0;
    width: 100%;
}

.program__discount {
    grid-row: 1 / 3;
    border-radius: var(--border-radius);
    background: var(--accent-bg);
    font-size: 20px;
    padding: 40px;
}

.program__discount-value {
    color: var(--accent-color);
    transform-origin: 0 0;
    margin: 0 0 7px 13%;
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    /* animation: discount-grow .7s infinite linear alternate; */
}

/* @keyframes discount-grow {
    0% {
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }
} */

.program__discount span {
    display: block;
    font-size: 16px;
    margin-left: 35%;
}

.program__price-text {
    color: var(--accent-color-2);
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.program__price-value {
    font-family: Gabriola;
    font-size: 32px;
    line-height: 0.9;
    /* 28.8px */
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.program__button {
    grid-column: 1 / -1;
}

.program__img img {
    width: 100%;
}

.tab-controls {
    display: flex;
    gap: 26px;
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}

.tab-controls__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.30);
    transition: var(--transition);
    white-space: nowrap;
}
@media (hover: hover) {
    .tab-controls__link:hover {
        background: var(--accent-bg);
    }
}

.tab-controls__link--active {
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}

.accordion-list__item {
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-color);
    background: var(--general-bg);
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: left;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-color);
    display: flex;
    ;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}
@media (hover: hover) {
    .accordion-list__control:hover .accordion-list__control-icon {
        transform: rotate(90deg);
        background: var(--accent-color);
    }
}

@media (hover: hover) {
    .accordion-list__control:hover .accordion-list__control-icon path {
        fill: var(--general-bg);
    }
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__control-title {
    color: var(--accent-text);
    font-family: Gabriola;
    font-size: 42px;
    line-height: 0.9;
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition)
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    color: var(--accent-color-2);
    line-height: 160%;
    /* 25.6px */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    border: 1px solid var(--accent-color-2);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}